include ../dist/gum
include ../dist/mint


doctype html
html(lang="en")
  head
    title="Sweet Gum Test"

  body

    - $("myFunc")
    !=$.myFunc().myFunc().myFunc()


    h1 Mint
    h2 Variables
    p
      +-(bob=29 jon=30 sam="" dan="A string")

      +if ($.bob.is.greater.than.jon)
        p Bob wins!
      +elseif ($.bob.is.less.than.jon)
        p John wins!
      +else
        p Tie!
      +endif

    h2 Arrays
    p
      +-(arr=[10,20,3])

      +if ($.arr.at(1).gt.arr.at(2))
        p Mhum!!
      +endif

    h2 Dictionaries
    p
      +-(dict={a:10,b:20,c:3,animal:"wolf",insect:"bee"})

      +if ($.dict.at("a").gt.dict.at("c"))
        p Mhum
        +if ($.dict.at("insect").is._("bee"))
          p Uhwooooo!
        +endif
      +endif

    h2 for block
    p
      +for(i=0 to=$.arr.length)
        +echo("<hr>", $.arr.at($.i), "<hr>")

    h2 foreach block
    p
      +each(in=$.arr myItem)
        +echo("<hr>", $.myItem, "<hr>")

    h2 concatenation
    p
      +-(a="This is"
         b ="a"
         c="long"
         d="string")
      +echo($.a.b.c.d.cat())

    h2 Comments
    p
      +-- This is a comment.



    h2 Switch
    +-(country = "Japan" )

    +switch ($.country)
      +case ("Japan")
        p 日本語
        +if (false)
          p Hello
        +else
          p Aha!
        +endif

      +case ("Venezuela")
        p Español

      +case ("U.S")
        p English

      +case ("Greece")
        p ελληνικά

      +else
        p Other


    h2 While
    +-(day=1)
    +while($.day.is.less.than._(24))
      p
        +echo('Not Christmas yet. ', $.day.inc, '/12/2014')
    +echo "Merry Christmas"


    +-(version=$.method.Post('version'))
    +-(os=$.method.Post('os'))

    +if($.version.and.os)
      p: +echo("You seleted ", $.os, " version: ", $.version)
      p Thank you!
    +else
      h2 Choose your OS
      form(action="index.php" method="post")
        select(name="os")
          option Windows
          option OSX
          option Linux
        p Other
        input(name="version" type="text")
        input(type="submit")

    +endif


    h2 Null
    +if($.os.is.null)
      p Nil is Null!
    +endif

    h2 Functions

    //- - console.log( $('myGreeting') )

    //- +-(function=$.F('myGreeting') firstName lastName)
    //-   p: +echo("Hello there ", $.firstName, " ", $.lastName)


    //- +- $.myGreeting("1", "2")
